* {
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 228, 228);
}

#wrapper-calc {
    background-color: rgb(76, 76, 76);
    margin: 35px auto;
    width: 380px;
    height: 525px;
    border: 15px rgb(76, 76, 76) solid;
    border-radius: 13px;

    display: flex;
    align-items: stretch;
}

#calc {
    background-color: rgb(39, 39, 39);
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

#screen {
    background-color: rgb(192, 203, 183);
    color: rgb(39, 39, 39);
    margin: 20px 10px;
    height: 100px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#screen p {
    margin: 0;
    padding: 6px;
    font-size: 49px;
}

button {
    font-size: 20px;
}

#buttons {
    margin: 20px 10px;

    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#buttons * {
    border-radius: 10px 10%;
}

#buttons div#clear {
    flex-basis: 100%;
    
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

#buttons div#clear .clear {
    flex-basis: 30%;
    background-color: rgb(255, 152, 83);
}

#buttons .number, #buttons .operand, #buttons .answer {
    flex-grow: 1;
    flex-basis: 20%;
    align-items: stretch;
}